<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>天气查询系统</title> <!-- title shown in the tab of the browser -->
</head>

<body>
  <h1 style="text-align:center">天气查询系统</h1>
  <p style="text-align:center">
    欢迎使用天气查询系统，请输入城市名查询相关城市天气情况，或其它有效指令。如需帮助，请点击"帮助"获得使用指南。
  </p>
  <form action="/requesting" method="GET">
    <p style="text-align:center">
      城市：
      <input type="text" name="city">
      <input name="query" type="submit" value="查询">
      <input name="history" type="submit" value="历史">
      <input name="help" type="submit" value="帮助">
    </p>
  </form>
  {% block content %}
  {% endblock %}
</body>

</html>
